body {
    background-color: #607d8b;
    font-family: 'Courier New', monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100em;
}

img{
    border-radius: 25%;
    max-width: 20%;
    display: block;
    max-height: 20%;
    margin-left: auto;
    margin-right: auto;
    
}

.track_Info {
    color: white;
    font-family: Copperplate, Papyrus;
}

.artist_name{
    color: red;
}