<!DOCTYPE html>
<html>

<head>
 <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />  
</head>

<body>
    <h1>Welcome to Jaymee's Artist Spotlight</h1>
    
    <h2>The artist we will be showcasing today is: <div class='track_Info'><div class='artist_name'>{{name}} </div></div></h2>
    
    
    <h3><b>The track we will be listening to today is: <div class='track_Info'>{{track}}</div></b></h3>
    <img src={{image}} />  
    <p>Take a listen to a snippet here </p>
            
    
    <audio controls preload loop> 
            <source src="{{preview}}"  type="audio/mp3">
    </audio>
        
   

</body>

</html>
